<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>


<header>
    <%- include("./partials/nav.ejs") %> 
</header>
<h1>Updateuj pitanje</h1>
<form action="/adminUpdateQuestion" method="POST">
    Tekst pitanja: <input type="text" name="tekstPitanja"><br>
    <select>
        <option default hidden value=""></option>
        <option value="Lako">Lako</option>
        <option value="Srednje"> Srednje</option>
        <option value="Teško">Teško</option>
    </select><br>
    tacanOdgovor<input type="text" name="tacanOdgovor"><br>
    imeDrzave<input type="text" name="imeDrzave"><br>
    tipPitanja<input type="text" name="tipPitanja"><br>
    <input type="submit" name=""><br>
</form><br>
<form action="/adminDeleteUser" method="POST">
    <input type="text" name="username">
    <input type="submit">
</form>
    <%- include("./partials/footer.ejs") %>
</body>
</html>
