<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <header>
        <%- include("./partials/nav.ejs") %> 
    </header>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="text-center mb-4" style="color: #6785ff;">Prijava</h3>
                        <form action="/login" method="POST">
                            <div class="mb-3">
                                <label for="nickname" class="form-label">Korisničko ime</label>
                                <input type="text" name="nickname" id="nickname" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="lozinka" class="form-label">Lozinka</label>
                                <input type="password" name="lozinka" id="lozinka" class="form-control" required>
                            </div>
                            <button type="submit" class="btn navBtn w-100">Prijavi se</button>
                        </form>
                        <div class="text-center mt-3">
                            <p>Nemaš nalog? <a href="/register" style="color: #6785ff;">Registruj se</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include("./partials/footer.ejs") %>
</body>
</html>