<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <header>
        <%- include("./partials/nav.ejs") %> 
    </header>

    <section class="PrijavaSection container">
        <div class="Prijava text-center">
            <h1>Prijavi se</h1>
            <form action="/login" method="POST">
                <div class="mb-4">
                    <label for="nickname" class="form-label">Korisničko ime</label>
                    <input type="text" name="nickname" id="nickname" placeholder="Unesite korisničko ime" class="form-control">
                </div>
                <div class="mb-4">
                    <label for="lozinka" class="form-label">Lozinka</label>
                    <input type="password" name="lozinka" id="lozinka" placeholder="Unesite lozinku" class="form-control">
                </div>
                <% if(error != ""){ %>
                    <p class="error mt-3 mb-4"><%= error %></p>
                    <% } %>
                <button type="submit" class="btn dugme">Prijavi se</button>
            </form>
            
            <div class="text-center PrijavaRegistracija mt-4">
                <p>Nemaš nalog? <a href="/register">Registruj se</a></p>
            </div>
        </div>
    </section>

    <%- include("./partials/footer.ejs") %>
</body>
</html>