<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>
    <script src="/registerValidation.js"></script>
<body>
    <%- include("./partials/nav.ejs") %>

    <section class="FormaSection container">
        <div class="Forma">
            <h1>Registracija</h1>
            <form action="/register" method="POST">
                <div class="row">
                    <div class="col-sm-6 col-12 mb-3">
                        <label for="Ime">Ime <span class="req">*</span></label>
                        <input type="text" name="ime" placeholder="Unesite svoje ime" class="form-control" required>
                    </div>
                    <div class="col-sm-6 col-12 mb-3">
                        <label for="Prezime">Prezime <span class="req">*</span></label>
                        <input type="text" name="prezime" placeholder="Unesite svoje prezime" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12 mb-3">
                        <label for="Nickname">Korisničko ime <span class="req">*</span></label>
                        <input type="text" name="nickname" placeholder="Unestie korisničko ime" class="form-control" required>
                    </div>
                    <div class="col-sm-6 col-12 mb-3">
                        <label for="Email">Email <span class="req">*</span></label>
                        <input type="email" name="email" placeholder="Unesite svoj email" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12 mb-3">
                        <label for="Lozinka">Lozinka <span class="req">*</span></label>
                        <input type="password" name="lozinka" placeholder="Unesite lozinku" class="form-control" required>
                    </div>
                    <div class="col-sm-6 col-12 mb-3">
                        <label for="datumRodjenja">Datum Rođenja <span class="req">*</span></label>
                        <input type="date" name="datumRodjenja" class="form-control" required>
                    </div>
                </div>
                <button type="submit" class="btn dugme mt-2">Napravi nalog</button>
            </form>
        </div>
        <% if (error) { %>
            <div class="text-cetner mt-3">
                <p class="error"><%= error %></p>
            </div>
        <% } %>
    </section>

    <%- include("./partials/footer.ejs") %>
</body>
</html>