<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
   
    <div id="preloader" class="preloader">
        <div class="preloader-content">
            <p id="preloader-text"></p> <!-- Početno prazno -->
        </div>
    </div>         

    <header>
        <%- include("./partials/nav.ejs") %>
    </header>

    <section class="PocetakKviza container" id="start-container">
        <div class="mb-4">
            <h1>Dobrodošli u GeoQuest Kviz! 🌍</h1>
            <p>Spremni za geo-izazov? Testirajte svoje znanje i osvojite bodove!</p>
        </div>
        <div class="mb-4">
            <h2>Kako igra funkcioniše?</h2>
            <p><span>Vreme:</span> Imate tačno <span>10 minuta</span> da završite kviz. Ako ne završite na vreme, vaš rezultat će se automatski predati.</p>
            <p><span>Bodovanje:</span> Što brže odgovorite, više bodova osvajate. Svaka sekunda je važna!</p>
            <p><span>Pitanja:</span> Kviz sadrži <span>30 pitanja</span> podeljenih u tri nivoa težine:</p>
            <p><span>•</span> 10 lakih</p>
            <p><span>•</span> 10 srednjih</p>
            <p><span>•</span> 10 teških</p>
        </div>
        <div class="mb-4">
            <h2>O čemu će biti pitanja?</h2>
            <p><span>•</span> Prepoznavanje zastava</p>
            <p><span>•</span> Glavni gradovi sveta</p>
            <p><span>•</span> Broj stanovnika država</p>
            <p><span>•</span> Kontinenti i još mnogo toga!</p>
        </div>
        <p><span>Spremni? Pritisnite dugme i neka kviz počne!</span></p>
        <button class="btn dugme KreniKvizDugme mt-3" onclick="startQuiz()">Kreni Kviz</button>
    </section>

    <section class="Kviz">
        <div class="container">
            <div class="quiz-container" id="quiz" style="display: none;">
                <div class="quiz-header">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="timer text-end" id="timer">10:00</div>
                </div>

                <div id="question-container" class="text-center">
                    <div class="card shadow-lg p-5">
                        <div class="card-body">
                            <p class="question" id="question"></p>
                            <div class="options" id="options"></div>
                        </div>
                    </div>
                </div>

                <div class="quiz-footer text-center mt-5">
                    <button class="btn dugme KvizDugme" id="next-btn" style="display: none;">Sledeće pitanje</button>
                </div>
            </div>
        </div>
    </section>

    <%- include("./partials/footer.ejs") %>
    
    <script src="js/kviz.js"></script>
</body>

</html>
